.container-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-card{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.container-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
}
.img-avatar{
    width: 250px;
    border-radius: 50%;
}
.container-bio{
    width: 450px;
}
/* ------- Media Query ----- */
@media (max-width:768px){
    .container-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .container-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 25px;
    }
    .container-bio{
        
        width: 100%;
    }
    .container-bio h2{
        
       text-align: center;
    }
}
